.article {

}

// HEADER, TYPICALLY WITH TITLE, IMAGE AND TAGS
.article__header {
  position: relative;
}

  // HEADER IMAGE
  .article__header-image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  // CONTENT WRAPPER
  .article__header-content {
    // background-color: rgba(0,0,0,0.4);

    @include vertical-gradient;

    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 32px 0;

    color: $color-white;
    text-align: center;
  }

    // THE ARTICLE TITLE
    .article__title {
      @include signa;
      font-size: $font-size-xl;
      margin: 0.6em 0;
    }

    // THE ARTICLE AUTHOR
    .article__author {

    }

  // MOST OF THE ARTICLE, EXCEPT HEADER AND FOOTER
  // INCLUDING RELATED COLUMN
  .article__body {

  }

    // ASIDE CONTENT - eg. RELATED CONTENT
    .article__aside {

    }

    // ARTICLE CONTENT EXCLUDING ASIDE CONTENT
    .article__content {

    }

      // ARTICLE ABSTRACT / SUMMARY
      .article__abstract {

      }

      // META META LIKE ARTICLE INFO AND SHARING
      .article__meta {

      }

        // ARTICLE LENGTH INDICATOR
        .article__meta-length {

        }

        // ARTICLE SHARE MODULE
        .article__share {

        }

        // ARTICLE BODY TEXT INCL. SIMPLE PARAGRAPHS
        // AND COMPLEX MODULES
        .article__body-text {
          h3 {

          }

          p {

          }

          a {

          }

          ul {

          }

          li {

          }
        }

          // BODY IMAGE MODULE
          .article__body-image {
            img {
              width: 100%;
              height: auto;
            }

            figcaption {
              font-size: $font-size-xs;
              font-style: italic;
              border-bottom: 1px solid $color-black;
              padding-bottom: 5px;
            }
          }

        // ARTICLE QUOTE MODULE
        .article__quote-wrapper {

        }

          // THE QUOTE TEXT
          .article__quote {

          }

          // THE SOURCE OF THE QUOTE
          .article__quote-source {

          }


        // ARTICLE INFOGRAPHICS MODULE
        .article__infographics {

        }



  // TAGS WRAPPER - USED BOTH IN HEADER AND BODY TEXT
  .article__tags {

  }

    // ARTICLE TAG
    .article__tag {
      display: inline-block;
      border: 1px solid $color-profile;
      padding: 4px 12px;
      text-transform: uppercase;
      color: $color-profile;
      text-decoration: none;
      font-size: $font-size-xs;

      .article__header & {
        color: $color-white;
        border-color: $color-white;
      }
    }

  // ARTICLE NAVIGATION (PREV / NEXT )
  .article__nav {

  }

    // ARTICLE NAVIGATION ITEM
    .article__nav-item {

      // PREVIOUS
      &.article--prev {

      }

      // NEXT
      &.article--next {

      }

    }

  // ARTICLE RELATED ITEMS GRID
  // PROBABLY WANT NEED SPECIAL STYLING
  // USE _grid.scss INSTEAD
  .article__related-items {

  }
