<div class="article__tip-row {% if obj.reverse %}row--reverse{% endif %} {% if obj.noImage %}no-image{% endif %}">
  <div class="article__tip-column">
    <div class="article__tip-image" style="background-image: url('/images/unsplash01.jpg')">
      <img src="images/unsplash01.jpg" alt="blåbær!" />
    </div>
  </div>
  <div class="article__tip-column column--info">
    <h2 class="article__tip-header">{{obj.title}}</h2>
    <p class="article__tip-description">All belysning IKEA selger er nå LED – eller kan brukes med LED-pærer. Disse lyspærene har 85 prosent lavere energiforbruk enn tradisjonelle glødepærer, og varer i inntil 25 000 timer. Altså rundt 20 år, ved 3 timers bruk hver dag.</p>
  </div>
</div>
