<aside class="article__aside aside" id="article-related-content">
  <div class="aside__content">
    <a href="#" class="aside__toggle-button aside__open-button" id="open-button">Vis aktuelt</a>
    <a href="#" class="aside__toggle-button aside__close-button" id="close-button">Lukk aktuelt</a>
    <!-- <h2 class="aside__title">Aktuelt</h2> -->
    <div class="content-list__wrapper">
      <div class="content-list__fader fader--left"></div>
      <ul class="related-content__list content-list">
        {% for i in range(0,6) %}
        <li class="content-list__item">
          <div class="content-list__item-image" style="background-image: url('images/unsplash01.jpg')">
            <img src="images/unsplash01.jpg" alt="Blåbær!" />
          </div>
          <h4 class="content-list__item-title">Er hydrogenbilen det neste store for nordmenn?</h4>
        </li>
        {% endfor %}
      </ul>
      <div class="content-list__fader fader--right"></div>
    </div>
  </div>
</aside>
