<div class="article__meta">
  <div class="article__meta-length">
    <div class="article__meta-icons">
      <span class="icon icon-icon_time-long"></span>
    </div>
    <div class="article__meta-label">
      <div>Reportasje</div>
      <div>11 min.</div>
    </div>
  </div>
  <div class="article__share">
    <div class="article__meta-label">
      <div>Del<br>artikkel</div>
    </div>
    <div class="article__meta-icons">
      <span class="icon icon-icon_facebook-o"></span><span class="icon icon-icon_twitter-o"></span><span class="icon icon-icon_linkedin-o"></span><span class="icon icon-icon_email-o"></span>
    </div>
  </div>
</div>
