<div class="section__grid-item grid-item grid-item--default">
  <div class="grid-item__wrapper">
    <a href="/article" class="grid-item__content">
      <div class="grid-item__image" style="background-image: url('images/unsplash01.jpg')">
        <img src="images/unsplash01.jpg" alt="Blåbær!" />
      </div>
      <h2 class="grid-item__title">Du spiser mer økologisk mat enn du er klar over<span class="icon icon-icon_time-normal"></span></h2>
      <p class="grid-item__abstract">Tilfang av økologiske produkter har gitt forbrukerne valgmuligheter, og derved styrket deres posisjon via-a-vis produsentene. Forbrukermakt er basert på muligheten til.</p>
    </a>
  </div>
</div>
