<div class="section__grid-item grid-item grid-item--columnist">
  <div class="grid-item__wrapper">
    <a href="/columnist" class="grid-item__content">
      <div class="grid-item__image-wrapper">
        <div class="grid-item__image-content">
          <div class="grid-item__image" style="background-image: url('images/unsplash01.jpg')">
            <img src="images/unsplash01.jpg" alt="Blåbær!" />
          </div>
        </div>
      </div>
      <div class="grid-item__info">
        <div class="grid-item__icons"><span class="icon icon-icon_time-long"></span></div>
        <div class="grid-item__label">Kommentar</div>
        <h2 class="grid-item__title">Ragnhild Big Hand Johansen</h2>
      </div>
    </a>
  </div>
</div>
