<div class="section__grid-item grid-item">
  <a href="#" class="grid-item__content">
    <div class="grid-item__image" style="background-image: url('images/unsplash01.jpg')">
      <img src="images/unsplash01.jpg" alt="Blåbær!" />
    </div>
    <h2 class="grid-item__title">Det nye jordbruket</h2>
    <p class="grid-item__abstract">Tilfang av økologiske produkter har gitt forbrukerne valgmuligheter, og derved styrket deres posisjon via-a-vis produsentene. Forbrukermakt er basert på muligheten til.</p>
  </a>
</div>
