/* USING BEM http://getbem.com/introduction/ */
.restrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}
.menu-link {
  text-decoration: none;
  color: #404040;
  border-bottom: 1px solid transparent;
}
.menu-link:hover {
  border-bottom-color: #404040;
}
.text-link {
  text-decoration: underline;
  color: #bb1b18;
}
@font-face {
  font-family: 'SignaWeb-Book';
  src: url('../fonts/SignaWeb-Book.eot');
  src: url('../fonts/SignaWeb-Book.eot?iefix') format('eot'), url('../fonts/SignaWeb-Book.woff') format('woff');
}
@font-face {
  font-family: 'SignaWeb-Light';
  src: url('../fonts/SignaWeb-Light.eot');
  src: url('../fonts/SignaWeb-Light.eot?iefix') format('eot'), url('../fonts/SignaWeb-Light.woff') format('woff');
}
@font-face {
  font-family: 'SignaWeb-ExtraLight';
  src: url('../fonts/SignaWeb-Extlight.eot');
  src: url('../fonts/SignaWeb-Extlight.eot?iefix') format('eot'), url('../fonts/SignaWeb-Extlight.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Open-Sans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Open-Sans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  src: url('../fonts/Open-Sans-Semibold.woff') format('woff'), url('../fonts/Open-Sans-Semibold.woff2') format('woff');
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.open-sans-light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.open-sans-semi {
  font-family: 'Open Sans Semibold', sans-serif;
}
.open-sans-bold {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 700;
}
.signa {
  font-family: 'SignaWeb-Book', sans-serif;
}
.signa-light {
  font-family: 'SignaWeb-Light', sans-serif;
}
html {
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.header {
  border-top: 4px solid #bb1b18;
}
.header__row {
  border-bottom: 1px solid #e6e6e6;
}
.header__row-wrapper {
  display: flex;
  flex-flow: row nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}
.header__row:first-child .header__row-wrapper {
  display: block;
}
@media (min-width: 480px) {
  .header__row:first-child .header__row-wrapper {
    display: flex;
    flex-flow: row-reverse nowrap;
  }
}
.header__cell {
  flex: 1 auto;
  padding: 12px;
  box-sizing: border-box;
}
@media (min-width: 480px) {
  .header__cell {
    padding: 16px;
  }
}
.header__title {
  margin: 0;
  width: 88%;
  font-family: 'SignaWeb-Light', sans-serif;
  font-size: 1.125rem;
  line-height: 1em;
}
@media (max-width: 479px) {
  .header__title {
    display: block;
    width: 100%;
  }
}
.header__title a {
  text-decoration: none;
}
.header__title .lowercase {
  color: #666666;
}
.header__title .uppercase {
  text-transform: uppercase;
  color: #bb1b18;
}
.header__logo {
  text-align: right;
  width: 12%;
  min-width: 170px;
  box-sizing: border-box;
  font: 0/0 a;
}
@media (max-width: 479px) {
  .header__logo {
    display: block;
    width: 100%;
  }
}
@media (min-width: 480px) {
}
.header__logo svg {
  height: 12px;
}
@media (min-width: 480px) {
  .header__logo svg {
    height: 16px;
  }
}
.header__menu {
  width: 88%;
  vertical-align: top;
  border-right: 1px solid #e6e6e6;
  padding: 0;
}
.menu__content {
  position: relative;
  height: 38px;
  overflow: hidden;
}
@media (min-width: 480px) {
  .menu__content {
    height: 50px;
  }
}
.menu--open .menu__content {
  overflow: visible;
}
.menu__search input {
  width: 100%;
  border: none;
  height: 38px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  padding-left: 20px;
}
@media (min-width: 480px) {
  .menu__search input {
    height: 50px;
    font-size: 16px;
  }
}
.menu__navigation {
  border-top: 1px solid #e6e6e6;
  background-color: #FFF;
  position: absolute;
  z-index: 2;
  top: 38px;
  left: 0;
  width: 100%;
}
@media (min-width: 480px) {
  .menu__navigation {
    top: 50px;
  }
}
.menu--open .menu__navigation {
  width: 100vw;
}
.menu__tags-list {
  list-style: none;
  padding: 0;
  margin: 16px;
}
.menu__tag {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}
.menu__tag a {
  text-decoration: none;
  color: #404040;
  border-bottom: 1px solid transparent;
  font-size: 1.125rem;
}
.menu__tag a:hover {
  border-bottom-color: #404040;
}
.menu__tag--selected a {
  color: #bb1b18;
}
.header__info-menu {
  text-align: right;
  vertical-align: top;
  min-width: 144px;
  white-space: nowrap;
  box-sizing: border-box;
  padding-top: 9px;
  padding-bottom: 9px;
}
@media (min-width: 480px) {
  .header__info-menu {
    width: 12%;
    padding-top: 13px;
    padding-bottom: 13px;
    min-width: 170px;
  }
}
.header__info-menu a {
  text-decoration: none;
  color: #404040;
  border-bottom: 1px solid transparent;
  font-size: 0.9375rem;
}
.header__info-menu a:hover {
  border-bottom-color: #404040;
}
@media (min-width: 480px) {
  .header__info-menu a {
    font-size: 16px;
  }
}
.article__header {
  position: relative;
}
.article__header-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.article__header-content {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,1c1c1c+36,131313+100&0+0,0.66+36,1+100 */
  background: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004c4c4c', endColorstr='#131313', GradientType=0);
  /* IE6-9 */
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  color: #FFF;
  text-align: center;
}
.article__title {
  font-family: 'SignaWeb-Light', sans-serif;
  line-height: 1.2em;
  font-size: 4.25rem;
  margin: 0.6em 0;
}
.article__body {
  display: table;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}
@media (min-width: 768px) {
  .article__aside {
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #e6e6e6;
    width: 30%;
  }
}
.aside__content {
  position: relative;
  padding: 64px 9%;
}
.aside__toggle-button {
  position: absolute;
  top: 16px;
  border: 1px solid #e6e6e6;
  display: block;
  right: -1px;
  z-index: 9;
  background-color: #FFF;
  padding: 4px 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8125rem;
}
.aside__open-button {
  display: none;
}
.aside__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9375rem;
  margin: 1rem 0;
}
.aside--hidden .aside__title {
  display: none;
}
.aside--hidden .content-list__wrapper {
  display: none;
}
@media (max-width: 767px) {
  .content-list__wrapper {
    position: relative;
  }
}
.content-list__fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100%;
  z-index: 10;
}
.content-list__fader.fader--left {
  opacity: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+64,ffffff+100&1+0,0.66+64,0+100 */
  background: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.9) 45%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.9) 45%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.9) 45%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 */
}
.content-list__fader.fader--right {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+36,ffffff+100&0+0,0.66+36,1+100 */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 45%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 45%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 45%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
  right: 0;
  left: auto;
}
@media (min-width: 768px) {
  .content-list__fader {
    display: none;
  }
}
.related-content__list {
  list-style: none;
  padding: 0;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .related-content__list {
    overflow-x: scroll;
    width: 100vw;
  }
}
@media (max-width: 767px) {
  .content-list__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    width: 50vw;
  }
}
.content-list__item-image {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.content-list__item-image:before {
  content: " ";
  float: left;
  padding-bottom: 56.25%;
}
.content-list__item-image img {
  display: none;
}
.content-list__item-title {
  white-space: normal;
  margin: 1em 0 2em 0;
}
.article__content {
  padding: 64px 0 32px 0;
}
@media (min-width: 768px) {
  .article__content {
    display: table-cell;
    vertical-align: top;
    width: 70%;
  }
}
.article__abstract {
  font-size: 1.375rem;
  line-height: 1.5em;
}
.article__abstract p {
  margin: 1em 20% 2em 12%;
}
.article__meta {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-size: 0;
}
.article__meta-length {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  text-align: right;
  padding: 8px 32px;
  box-sizing: border-box;
}
.article__share {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  border-left: 1px solid #e6e6e6;
  padding: 8px 32px;
  box-sizing: border-box;
}
.article__meta-icons {
  display: inline-block;
  vertical-align: middle;
}
.article__meta-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8125rem;
  text-transform: uppercase;
  line-height: 1.4em;
  text-align: left;
}
.article__body-text p {
  margin: 1em 20% 2em 12%;
}
.article__body-text p:first-child {
  margin-top: 2em;
}
.article__body-text h3 {
  margin: 2em 20% 1em 12%;
}
.article__body-image {
  margin: 1em 10% 1em 6%;
}
.article__body-image img {
  width: 100%;
  height: auto;
}
.article__body-image figcaption {
  font-size: 0.8125rem;
  font-style: italic;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
}
.article__quote-wrapper {
  margin: 3em 10% 3em 6%;
}
.article__quote {
  font-size: 2rem;
  line-height: 1.25em;
  margin: 0;
}
.article__quote-source {
  margin: 1em 32px 1em 0;
  text-align: right;
}
.article__published {
  margin: 1em 20% 1em 12%;
  color: #404040;
}
.article__tags {
  margin: 2em 20% 1em 12%;
}
.article__tag {
  display: inline-block;
  border: 1px solid #bb1b18;
  padding: 4px 12px;
  text-transform: uppercase;
  color: #bb1b18;
  text-decoration: none;
  font-size: 0.8125rem;
}
.article__header .article__tag {
  color: #FFF;
  border-color: #FFF;
}
.article__nav {
  font-size: 0;
  border-top: 1px solid #e6e6e6;
  padding: 1rem;
}
.article__nav-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}
.article__nav-item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  overflow: hidden;
}
.nav-item__image {
  display: inline-block;
  vertical-align: middle;
  width: calc(33.33333333%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.article--next .nav-item__image {
  float: right;
}
.nav-item__image:before {
  content: " ";
  float: left;
  padding-bottom: 56.25%;
}
.nav-item__image img {
  display: none;
}
.nav-item__info {
  display: inline-block;
  vertical-align: middle;
  width: calc(66.66666667%);
}
.article--next .nav-item__info {
  text-align: right;
}
.nav-item__label {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #666666;
}
.nav-item__title {
  font-size: 1.125rem;
  margin: 0.4em 0;
}
.section-grid {
  border-top: 1px solid #e6e6e6;
  padding-bottom: 2rem;
}
.section-grid__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}
.section-grid__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9375rem;
  margin: 2rem 0;
}
.section-grid__content {
  display: flex;
  flex-flow: row;
  margin: 0;
  margin-left: -3rem;
  margin-top: -3rem;
}
@media (max-width: 768px) {
  .section-grid--four .section-grid__content {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .section-grid__content {
    flex-wrap: wrap;
  }
}
.grid-item {
  flex: 0 0 50%;
  padding: 3rem 0 0 3rem;
  box-sizing: border-box;
}
.section-grid--four .grid-item {
  flex-basis: 25%;
}
@media (max-width: 768px) {
  .section-grid--four .grid-item {
    flex-basis: 50%;
  }
}
@media (max-width: 480px) {
  .grid-item {
    flex-basis: 100% !important;
  }
}
.grid-item__content {
  text-decoration: none;
  color: #000;
}
.grid-item__image {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.grid-item__image:before {
  content: " ";
  float: left;
  padding-bottom: 56.25%;
}
.grid-item__image img {
  display: none;
}
.grid-item__title {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 1.375rem;
}
.grid-item--simple .grid-item__title {
  margin-top: 0;
}
.grid-item__abstract {
  font-size: 1.125rem;
}
