/* USING BEM http://getbem.com/introduction/ */
@font-face {
  font-family: 'SignaWeb-Book';
  src: url('../fonts/SignaWeb-Book.eot');
  src: url('../fonts/SignaWeb-Book.eot?iefix') format('eot'), url('../fonts/SignaWeb-Book.woff') format('woff');
}
@font-face {
  font-family: 'SignaWeb-Light';
  src: url('../fonts/SignaWeb-Light.eot');
  src: url('../fonts/SignaWeb-Light.eot?iefix') format('eot'), url('../fonts/SignaWeb-Light.woff') format('woff');
}
@font-face {
  font-family: 'SignaWeb-ExtraLight';
  src: url('../fonts/SignaWeb-Extlight.eot');
  src: url('../fonts/SignaWeb-Extlight.eot?iefix') format('eot'), url('../fonts/SignaWeb-Extlight.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Open-Sans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Open-Sans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  src: url('../fonts/Open-Sans-Semibold.woff') format('woff'), url('../fonts/Open-Sans-Semibold.woff2') format('woff');
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.open-sans-light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.open-sans-semi {
  font-family: 'Open Sans Semibold', sans-serif;
}
.open-sans-bold {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 700;
}
.signa {
  font-family: 'SignaWeb-Book', sans-serif;
}
.signa-light {
  font-family: 'SignaWeb-Light', sans-serif;
}
html {
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.header__row {
  display: table;
  width: 100%;
}
.header__row:first-child {
  border-bottom: 1px solid #e6e6e6;
}
.header__title {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
  font-family: 'SignaWeb-Light', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5em;
  color: #bb1b18;
  text-transform: uppercase;
}
.header__logo {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
}
.header__menu {
  display: table-cell;
  vertical-align: middle;
  width: 80%;
  border-right: 1px solid #e6e6e6;
}
.menu__content {
  position: relative;
  height: 40px;
  overflow: hidden;
}
.menu--open .menu__content {
  overflow: visible;
}
.menu__search input {
  width: 100%;
  border: none;
}
.menu__navigation {
  border-top: 1px solid #e6e6e6;
  background-color: #FFF;
  position: absolute;
  z-index: 2;
  top: 40px;
  left: 0;
  width: 100%;
}
.menu--open .menu__navigation {
  width: 100vw;
}
.menu__tags-list {
  list-style: none;
  padding: 0;
}
.menu__tag {
  display: inline-block;
  vertical-align: top;
}
.header__info-menu {
  display: table-cell;
  vertical-align: middle;
  width: 20%;
}
.article__header {
  position: relative;
}
.article__header-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.article__header-content {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,1c1c1c+36,131313+100&0+0,0.66+36,1+100 */
  background: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004c4c4c', endColorstr='#131313', GradientType=0);
  /* IE6-9 */
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 32px 0;
  color: #FFF;
  text-align: center;
}
.article__title {
  font-family: 'SignaWeb-Light', sans-serif;
  line-height: 1.2em;
  font-size: 4.25rem;
  margin: 0.6em 0;
}
.article__body {
  display: table;
  width: 100%;
}
@media (min-width: 768px) {
  .article__aside {
    display: table-cell;
    vertical-align: top;
    border-right: 1px solid #e6e6e6;
    width: 20%;
    min-width: 200px;
  }
}
.aside__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9375rem;
  margin: 1rem 0;
}
@media (max-width: 767px) {
  .content-list__wrapper {
    position: relative;
  }
}
.content-list__fader {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100%;
  z-index: 10;
}
.content-list__fader.fader--left {
  opacity: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+64,ffffff+100&1+0,0.66+64,0+100 */
  background: -moz-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.9) 45%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffffff 0%, rgba(255, 255, 255, 0.9) 45%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.9) 45%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1);
  /* IE6-9 */
}
.content-list__fader.fader--right {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+36,ffffff+100&0+0,0.66+36,1+100 */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 45%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 45%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.66) 45%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1);
  /* IE6-9 */
  right: 0;
  left: auto;
}
@media (min-width: 768px) {
  .content-list__fader {
    display: none;
  }
}
.related-content__list {
  list-style: none;
  padding: 0;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .related-content__list {
    overflow-x: scroll;
    width: 100vw;
  }
}
@media (max-width: 767px) {
  .content-list__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    width: 50vw;
  }
}
.content-list__item-image {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.content-list__item-image:before {
  content: " ";
  float: left;
  padding-bottom: 56.25%;
}
.content-list__item-image img {
  display: none;
}
.content-list__item-title {
  white-space: normal;
}
@media (min-width: 768px) {
  .article__content {
    display: table-cell;
    vertical-align: top;
    width: 80%;
  }
}
.article__body-image {
  margin: 2rem 0;
}
.article__body-image img {
  width: 100%;
  height: auto;
}
.article__body-image figcaption {
  font-size: 0.8125rem;
  font-style: italic;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
.article__tag {
  display: inline-block;
  border: 1px solid #bb1b18;
  padding: 4px 12px;
  text-transform: uppercase;
  color: #bb1b18;
  text-decoration: none;
  font-size: 0.8125rem;
}
.article__header .article__tag {
  color: #FFF;
  border-color: #FFF;
}
.article__nav {
  font-size: 0;
  border-top: 1px solid #e6e6e6;
  padding: 1rem;
}
.article__nav-item {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  overflow: hidden;
}
.nav-item__image {
  display: inline-block;
  vertical-align: middle;
  width: calc(33.33333333%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.article--next .nav-item__image {
  float: right;
}
.nav-item__image:before {
  content: " ";
  float: left;
  padding-bottom: 56.25%;
}
.nav-item__image img {
  display: none;
}
.nav-item__info {
  display: inline-block;
  vertical-align: middle;
  width: calc(66.66666667%);
}
.article--next .nav-item__info {
  text-align: right;
}
.nav-item__label {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #666666;
}
.nav-item__title {
  font-size: 1.125rem;
  margin: 0.4em 0;
}
.section__grid {
  border-top: 1px solid #e6e6e6;
  padding-bottom: 2rem;
}
.section__grid-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9375rem;
  margin: 2rem 0;
}
.section__grid-content {
  display: flex;
  flex-flow: row;
  margin: 0;
  margin-left: -3rem;
  margin-top: -3rem;
}
@media (max-width: 768px) {
  .section__grid--four .section__grid-content {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .section__grid-content {
    flex-wrap: wrap;
  }
}
.grid-item {
  flex: 0 0 50%;
  padding: 3rem 0 0 3rem;
  box-sizing: border-box;
}
.section__grid--four .grid-item {
  flex-basis: 25%;
}
@media (max-width: 768px) {
  .section__grid--four .grid-item {
    flex-basis: 50%;
  }
}
@media (max-width: 480px) {
  .grid-item {
    flex-basis: 100% !important;
  }
}
.grid-item__content {
  text-decoration: none;
  color: #000;
}
.grid-item__image {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.grid-item__image:before {
  content: " ";
  float: left;
  padding-bottom: 56.25%;
}
.grid-item__image img {
  display: none;
}
.grid-item__title {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 1.375rem;
}
.grid-item--simple .grid-item__title {
  margin-top: 0;
}
.grid-item__abstract {
  font-size: 1.125rem;
}
