/* USING BEM http://getbem.com/introduction/ */
.restrain {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}
.menu-link {
  text-decoration: none;
  color: #404040;
  border-bottom: 1px solid transparent;
}
.menu-link:hover {
  border-bottom-color: #404040;
}
.text-link {
  text-decoration: underline;
  color: #bb1b18;
}
@font-face {
  font-family: 'SignaWeb-Book';
  src: url('../fonts/SignaWeb-Book.eot');
  src: url('../fonts/SignaWeb-Book.eot?iefix') format('eot'), url('../fonts/SignaWeb-Book.woff') format('woff');
}
@font-face {
  font-family: 'SignaWeb-Light';
  src: url('../fonts/SignaWeb-Light.eot');
  src: url('../fonts/SignaWeb-Light.eot?iefix') format('eot'), url('../fonts/SignaWeb-Light.woff') format('woff');
}
@font-face {
  font-family: 'SignaWeb-ExtraLight';
  src: url('../fonts/SignaWeb-Extlight.eot');
  src: url('../fonts/SignaWeb-Extlight.eot?iefix') format('eot'), url('../fonts/SignaWeb-Extlight.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Open-Sans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Open-Sans-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Semibold';
  font-style: normal;
  src: url('../fonts/Open-Sans-Semibold.woff') format('woff'), url('../fonts/Open-Sans-Semibold.woff2') format('woff');
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.open-sans-light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.open-sans-semi {
  font-family: 'Open Sans Semibold', sans-serif;
}
.open-sans-bold {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 700;
}
.signa {
  font-family: 'SignaWeb-Book', sans-serif;
}
.signa-light {
  font-family: 'SignaWeb-Light', sans-serif;
}
html {
  width: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
a {
  color: #000;
}
@media (max-width: 767px) {
  .screen--large {
    display: none;
  }
}
@media (min-width: 768px) {
  .screen--small {
    display: none;
  }
}
.header {
  border-top: 4px solid #bb1b18;
  pointer-events: none;
  position: fixed;
  width: 100vw;
  z-index: 100;
}
.article-page .header,
.report-page .header {
  border-top-color: #e6e6e6;
}
.header a,
.header input,
.header .icon {
  pointer-events: all;
}
.header__row {
  border-bottom: 1px solid #e6e6e6;
  background-color: #FFF;
  position: relative;
  z-index: 3;
}
.header__row--menu {
  z-index: 2;
  transition: transform 100ms 300ms linear;
  transform: translate(0, -100%);
  pointer-events: none;
}
.menu--open .header__row--menu {
  transform: translate(0, 0);
  transition: transform 200ms linear;
  display: block;
  pointer-events: all;
}
.header__row--additional-menu {
  z-index: 1;
  transition: transform 200ms linear;
  transform: translate(0, -500%);
  pointer-events: none;
}
.menu--open .header__row--additional-menu {
  transform: translate(0, 0);
  transition: transform 400ms linear;
  display: block;
  pointer-events: all;
}
.header__row-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
  padding: 0 2rem;
  box-sizing: border-box;
}
.header__row:first-child .header__row-wrapper {
  display: block;
}
@media (min-width: 480px) {
  .header__row:first-child .header__row-wrapper {
    display: flex;
    flex-flow: row-reverse nowrap;
  }
}
@media (max-width: 375px) {
  .header__row-wrapper {
    padding: 0 1rem;
  }
}
.header__cell {
  flex: 1 auto;
  padding: 12px 0;
  box-sizing: border-box;
}
@media (min-width: 480px) {
  .header__cell {
    padding: 16px 0;
  }
}
.header__title {
  margin: 0;
  width: 88%;
  font-family: 'SignaWeb-Light', sans-serif;
  font-size: 1.125rem;
  line-height: 1em;
}
@media (max-width: 479px) {
  .header__title {
    display: block;
    width: 100%;
  }
}
.header__title a {
  text-decoration: none;
}
.header__title .lowercase {
  color: #666666;
}
.header__title .uppercase {
  text-transform: uppercase;
  color: #bb1b18;
}
.header__logo {
  text-align: right;
  width: 12%;
  min-width: 170px;
  box-sizing: border-box;
  font: 0/0 a;
}
@media (max-width: 479px) {
  .header__logo {
    display: block;
    width: 100%;
  }
}
@media (min-width: 480px) {
}
.header__logo svg {
  height: 12px;
}
@media (min-width: 480px) {
  .header__logo svg {
    height: 16px;
  }
}
.header__filters {
  padding: 0;
}
.filters__content {
  position: relative;
  display: flex;
  align-items: center;
}
.filters__search {
  flex: 0 0 80%;
}
@media (max-width: 1024px) {
  .filters__search {
    flex: 0 0 70%;
  }
}
@media (max-width: 767px) {
  .filters__search {
    flex: 0 0 50%;
  }
}
.filters__search .icon {
  font-size: 2rem;
  color: #404040;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0;
  z-index: 2;
}
.menu--open .filters__search .icon-icon_menu-search {
  display: none;
}
.article-page .filters__search,
.report-page .filters__search {
  flex: 0 0 100%;
}
.filters__search .icon-icon_close {
  display: none;
}
.menu--open .filters__search .icon-icon_close {
  display: block;
}
.filters__search input {
  width: 100%;
  border: none;
  height: 38px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 0.9375rem;
  padding-left: 2rem;
  outline: none;
  -webkit-appearance: none;
}
@media (min-width: 480px) {
  .filters__search input {
    height: 50px;
    font-size: 16px;
  }
}
.filters__options-wrapper {
  flex: 0 0 20%;
  text-align: right;
  border-left: 1px solid #e6e6e6;
  display: none;
  padding: 8px 0;
  box-sizing: border-box;
  height: 50px;
}
@media (max-width: 1024px) {
  .filters__options-wrapper {
    flex: 0 0 30%;
  }
}
@media (max-width: 767px) {
  .filters__options-wrapper {
    flex: 0 0 50%;
  }
}
.menu--open .filters__options-wrapper {
  display: block;
}
.article-page .filters__options-wrapper,
.report-page .filters__options-wrapper {
  display: none;
}
.filters__label {
  display: inline-block;
  vertical-align: middle;
  color: #404040;
}
@media (max-width: 375px) {
  .filters__label {
    display: none;
  }
}
.filters__options {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  list-style: none;
}
.filters__option {
  display: inline-block;
  vertical-align: middle;
}
.filters__option a {
  font-size: 2rem;
  color: #404040;
  text-decoration: none;
}
.menu__navigation {
  background-color: #FFF;
}
.menu__tags-list {
  list-style: none;
  padding: 1rem 0;
  margin: 0;
}
.menu__tag {
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
}
.menu__tag a {
  text-decoration: none;
  color: #404040;
  border-bottom: 1px solid transparent;
  font-size: 1.125rem;
}
.menu__tag a:hover {
  border-bottom-color: #404040;
}
.menu__tag--selected a {
  color: #bb1b18;
}
.header__info-menu {
  padding: 8px 0;
}
.header__info-menu a {
  text-decoration: none;
  color: #404040;
  border-bottom: 1px solid transparent;
  font-size: 0.9375rem;
}
.header__info-menu a:hover {
  border-bottom-color: #404040;
}
.header-scroll-progress {
  height: 4px;
  background-color: #bb1b18;
  position: absolute;
  top: -4px;
  z-index: 101;
}
.main {
  padding-top: 106px;
}
.article__header {
  position: relative;
}
.article--report .article__header {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.article__featured-image-wrapper {
  margin: 0 10% 2rem 6%;
}
.article--report .article__featured-image-wrapper {
  margin: 0;
}
.article__featured-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.article--report .article__featured-image {
  display: none;
}
.article__header-content {
  margin: 0 16% 0 12%;
}
@media (max-width: 767px) {
  .article__header-content {
    margin: 0 12% 0 8%;
  }
}
.article--report .article__header-content {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,1c1c1c+36,131313+100&0+0,0.66+36,1+100 */
  background: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004c4c4c', endColorstr='#131313', GradientType=0);
  /* IE6-9 */
  margin: 0 !important;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem 0;
  color: #FFF;
  text-align: center;
}
.article__title {
  font-family: 'SignaWeb-Light', sans-serif;
  line-height: 1.2em;
  font-size: 2rem;
  margin: 0.6em 0 0.2em 0;
}
@media (min-width: 769px) {
  .article__title {
    font-size: 3.5rem;
  }
}
.article--report .article__title {
  font-size: 3.5rem;
  margin: 0.5em 4% 0.2em 4%;
}
@media (min-width: 769px) {
  .article--report .article__title {
    font-size: 4.25rem;
  }
}
@media (max-width: 480px) {
  .article--report .article__title {
    font-size: 2rem;
  }
}
.article__author {
  color: #bb1b18;
}
.article--report .article__author {
  color: #FFF;
}
.article__body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}
@media (min-width: 768px) {
  .article__body {
    display: flex;
  }
}
@media (max-width: 767px) {
  .article__related {
    overflow: hidden;
    height: 330px;
    border-bottom: 1px solid #e6e6e6;
    transition: height 300ms;
  }
  .related--collapsed .article__related {
    height: 3rem;
    transition: height 300ms;
    border-bottom: none;
  }
}
@media (min-width: 768px) {
  .article__related {
    flex: 0 0 30%;
    transition: flex-basis 300ms;
    border-right: 1px solid #e6e6e6;
    box-sizing: border-box;
  }
  .related--collapsed .article__related {
    flex: 0 0 10%;
    transition: flex-basis 300ms;
  }
}
.related__content {
  position: relative;
  padding: 3rem 0 1rem 0;
}
@media (min-width: 768px) {
  .related__content {
    padding: 4rem 9%;
  }
}
.related__toggle-button {
  position: absolute;
  top: 1rem;
  border: 1px solid #e6e6e6;
  display: block;
  right: -1px;
  z-index: 9;
  background-color: #FFF;
  padding: 4px 12px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8125rem;
  width: 120px;
  height: 32px;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}
.toggle-button-label {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 1;
  color: #000;
}
.toggle-button-label--open {
  transform: translateY(-40px);
  transition: transform 200ms 300ms;
}
.related--collapsed .toggle-button-label--open {
  transform: translateY(0);
  transition: transform 200ms 300ms;
}
.toggle-button-label--close {
  transform: translateY(0);
  transition: transform 200ms 300ms;
}
.related--collapsed .toggle-button-label--close {
  transform: translateY(40px);
  transition: transform 200ms 300ms;
}
.related__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9375rem;
  margin: 1rem 0;
}
.related--collapsed .related__title {
  opacity: 0;
}
.content-list__wrapper {
  opacity: 1;
  transition: opacity 200ms 200ms;
}
.related--collapsed .content-list__wrapper {
  opacity: 0;
  transition: opacity 200ms;
}
@media (max-width: 767px) {
  .content-list__wrapper {
    position: relative;
  }
}
.related__list {
  list-style: none;
  padding: 0;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .related__list {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100vw;
  }
}
@media (max-width: 767px) {
  .content-list__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
    width: 36vw;
  }
}
@media (max-width: 480px) {
  .content-list__item {
    width: 60vw;
  }
}
.content-list__item a {
  text-decoration: none;
  color: #bb1b18;
}
.content-list__item-image {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.content-list__item-image:before {
  content: " ";
  float: left;
  padding-bottom: 56.25%;
}
.content-list__item-image img {
  display: none;
}
.content-list__item-title {
  white-space: normal;
  margin: 1em 0;
}
@media (min-width: 768px) {
  .content-list__item-title {
    margin: 1em 0 2em 0;
  }
}
.article__content {
  padding: 2rem 0 2rem 0;
}
@media (min-width: 768px) {
  .article__content {
    padding-top: 4rem;
    flex: 0 0 70%;
    transition: flex-basis 200ms;
    box-sizing: border-box;
  }
  .related--collapsed .article__content {
    flex: 0 0 90%;
    transition: flex-basis 200ms;
  }
}
.article__abstract {
  font-size: 1.375rem;
  line-height: 1.5em;
}
.article__abstract p {
  margin: 1em 16% 2em 12%;
}
@media (max-width: 375px) {
  .article__abstract p {
    font-size: 1.125rem;
    margin: 1em 12% 2em 8%;
  }
}
.article__meta {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  font-size: 0;
  color: #404040;
  padding: 0 0 0 12%;
}
@media (max-width: 375px) {
  .article__meta {
    padding-left: 8%;
  }
}
.article__meta-length {
  display: inline-block;
  vertical-align: top;
  padding: 8px 1rem 8px 0;
  text-align: right;
  box-sizing: border-box;
}
@media (min-width: 481px) {
  .article__meta-length {
    padding-right: 2rem;
  }
}
.article__share {
  display: inline-block;
  vertical-align: top;
  border-left: 1px solid #e6e6e6;
  padding: 8px 0 8px 1rem;
  box-sizing: border-box;
}
@media (min-width: 481px) {
  .article__share {
    padding-right: 1rem;
  }
}
.article__meta-icons {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  font-size: 0;
}
@media (min-width: 481px) {
  .article__meta-icons {
    padding: 0 10px 0 0;
  }
  .article__share .article__meta-icons {
    padding: 0 0 0 10px;
  }
}
.article__meta-icons > span {
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;
}
.article__meta-link {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 2rem;
  color: #404040;
}
.article__meta-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 0.8125rem;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: left;
}
@media (max-width: 480px) {
  .article__share .article__meta-label {
    display: none;
  }
}
.article__body-text p {
  margin: 1em 16% 2em 12%;
  font-size: 1.125rem;
  line-height: 1.5em;
}
.article__body-text p:first-child {
  margin-top: 2em;
}
@media (max-width: 375px) {
  .article__body-text p {
    margin: 1em 12% 2em 8%;
  }
}
.article__body-text h3 {
  margin: 2em 16% 1em 12%;
}
@media (max-width: 375px) {
  .article__body-text h3 {
    margin: 2em 12% 1em 8%;
  }
}
.article__body-image {
  margin: 1em 10% 1em 6%;
}
@media (max-width: 375px) {
  .article__body-image {
    margin: 1em 6% 1em 4%;
  }
}
.article__body-image img {
  width: 100%;
  height: auto;
}
.article__body-image figcaption {
  font-size: 0.8125rem;
  font-style: italic;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
}
.article__quote-wrapper {
  margin: 3em 10% 3em 6%;
}
@media (max-width: 375px) {
  .article__quote-wrapper {
    margin: 3em 6% 3em 4%;
  }
}
.article__quote {
  font-size: 2rem;
  line-height: 1.25em;
  margin: 0;
}
@media (max-width: 480px) {
  .article__quote {
    font-size: 1.75rem;
  }
}
.article__quote-source {
  margin: 1em 2rem 1em 0;
  text-align: right;
}
.article__published {
  margin: 1em 16% 1em 12%;
  color: #404040;
}
@media (max-width: 375px) {
  .article__published {
    margin: 1em 12% 1em 8%;
  }
}
.article__tags {
  margin: 2em 16% 1em 12%;
}
@media (max-width: 375px) {
  .article__tags {
    margin: 2em 12% 1em 8%;
  }
}
.article__header .article__tags {
  margin: 0;
}
.article__tag {
  display: inline-block;
  border: 1px solid #bb1b18;
  padding: 4px 12px;
  text-transform: uppercase;
  color: #bb1b18;
  text-decoration: none;
  font-size: 0.8125rem;
  margin-bottom: 4px;
}
.article__header .article__tag {
  color: #404040;
  border-color: #404040;
}
.article--report .article__header .article__tag {
  color: #FFF;
  border-color: #FFF;
}
.article__nav {
  font-size: 0;
  border-top: 1px solid #e6e6e6;
}
.article__nav-wrapper {
  padding: 2rem;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}
@media (min-width: 481px) {
  .article__nav-wrapper {
    display: flex;
  }
}
.article__nav-item {
  overflow: hidden;
  display: flex;
  flex-flow: row;
  align-items: center;
  text-decoration: none;
}
@media (min-width: 481px) {
  .article__nav-item {
    flex: 0 0 50%;
    width: 50%;
  }
  .article__nav-item.article--next {
    flex-flow: row-reverse;
    padding-top: 0;
  }
}
.article__nav-item.article--next {
  padding-top: 2rem;
}
.nav-item__image {
  flex: 0 0 calc(33.33333333%);
  width: calc(33.33333333%);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.nav-item__image:before {
  content: " ";
  float: left;
  padding-bottom: 56.25%;
}
.nav-item__image img {
  display: none;
}
.nav-item__info {
  flex: 0 0 calc(66.66666667%);
  width: calc(66.66666667%);
  box-sizing: border-box;
  padding: 0 2rem;
}
@media (min-width: 481px) {
  .article--next .nav-item__info {
    text-align: right;
  }
}
.nav-item__label {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 0.8125rem;
  text-transform: uppercase;
  color: #666666;
}
.nav-item__title {
  font-size: 1.125rem;
  margin: 0.2em 0;
  color: #bb1b18;
}
.article__related-items {
  border-top: 1px solid #e6e6e6;
}
.section-grid {
  padding-bottom: 2rem;
}
.section-grid--reverse .section-grid__content {
  flex-flow: row-reverse;
}
.section-grid__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1280px;
}
.section-grid__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.9375rem;
  margin: 2rem 2rem 1rem 2rem;
}
.section-grid__content {
  display: flex;
  flex-flow: row;
  margin: 0;
}
@media (max-width: 768px) {
  .section-grid--four .section-grid__content {
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  .section-grid__content {
    flex-wrap: wrap;
  }
}
.grid-item {
  flex: 0 0 50%;
  padding: 1rem 2rem;
  box-sizing: border-box;
}
.section-grid--four .grid-item {
  flex-basis: 25%;
}
@media (max-width: 768px) {
  .section-grid--four .grid-item {
    flex-basis: 50%;
  }
}
.section-grid--two-thirds .grid-item {
  flex: 0 0 calc(33.33333333%);
}
@media (max-width: 480px) {
  .grid-item {
    flex-basis: 100% !important;
  }
}
.grid-item--full {
  flex: 0 0 100%;
}
.section-grid--two-thirds .grid-item--full {
  flex: 0 0 calc(66.66666667%);
}
.grid-item__content {
  display: block;
  text-decoration: none;
  color: #000;
}
.grid-item__image {
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.grid-item--full .grid-item__image {
  position: relative;
}
.grid-item--full .grid-item__image:after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,1c1c1c+36,131313+100&0+0,0.66+36,1+100 */
  background: -moz-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76, 76, 76, 0) 0%, rgba(28, 28, 28, 0.66) 36%, #131313 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#004c4c4c', endColorstr='#131313', GradientType=0);
  /* IE6-9 */
  z-index: 1;
}
.grid-item__image:before {
  content: " ";
  float: left;
  padding-bottom: 56.25%;
}
.grid-item__image img {
  display: none;
}
.grid-item__title {
  font-family: 'Open Sans Semibold', sans-serif;
  font-size: 1.375rem;
  color: #bb1b18;
}
.grid-item--simple .grid-item__title {
  margin-top: 0;
}
.grid-item--full .grid-item__title {
  position: absolute;
  bottom: 3rem;
  left: 0;
  z-index: 2;
  width: 100%;
  font-family: 'SignaWeb-Light', sans-serif;
  font-size: 4.25rem;
  text-align: center;
  color: #FFF;
}
.section-grid--two-thirds .grid-item--full .grid-item__title {
  font-size: 3.5rem;
  bottom: 1rem;
}
.grid-item__abstract {
  font-size: 1.125rem;
}
