
.header {

}

  @menu-row-height: 40px;

  .header__row {
    display: table;
    width: 100%;

    &:first-child {
      border-bottom: 1px solid @color-grey;
    }
  }

    .header__title {
      display: table-cell;
      vertical-align: middle;
      width: 80%;
      .signa;
      color: @color-profile;
      text-transform: uppercase;
    }

    .header__logo {
      display: table-cell;
      vertical-align: middle;
      width: 20%;
    }

    .header__menu {
      display: table-cell;
      vertical-align: middle;
      width: 80%;
      border-right: 1px solid @color-grey;
    }

      .menu__content {
        position: relative;
        height: @menu-row-height;
        overflow: hidden;

        .menu--open & {
          overflow: visible;
        }
      }

        .menu__search {

          input {
            width: 100%;
            border: none;
          }
        }

        .menu__navigation {
          border-top: 1px solid @color-grey;
          background-color: @color-white;
          position: absolute;
          z-index: 2;
          top: @menu-row-height;
          left: 0;
          width: 100%;

          .menu--open & {
            width: 100vw;
          }
        }

          .menu__tags {

          }

            .menu__tags-list {
              list-style: none;
              padding: 0;
            }

              .menu__tag {
                display: inline-block;
                vertical-align: top;

                a {

                }
              }

    .header__info-menu {
      display: table-cell;
      vertical-align: middle;
      width: 20%;

      a {

      }
    }
