// SITE HEADER
.header {
  border-top: 4px solid @color-profile;

  .article-page &, .report-page & {
    border-top-color: @color-grey;
  }

  position: fixed;
  width: 100vw;
  z-index: 100;
}

  @menu-row-height: 38px;
  @menu-row-height-max: 50px;

  //HEADER ROW - THE ENTIRE WIDTH
  .header__row {
    border-bottom: 1px solid @color-grey;
    background-color: @color-white;
    position: relative;
    z-index: 2;
  }

  .header__row--menu {
    z-index: 1;

    transition: transform 200ms linear;
    transform: translate(0,-100%);
    pointer-events: none;

    .menu--open & {
      transform: translate(0,0);
      transition: transform 200ms linear;
      display: block;
      pointer-events: all;
    }
  }

    // WRAPPER CONSTRAINING CONTENT TO DEFINED MAX-WIDTH
    .header__row-wrapper {
      display: flex;
      flex-flow: row nowrap;
      .restrain;
      padding: 0 2rem;
      box-sizing: border-box;

      //SPECIAL CASE FOR UPPER ROW, SINCE LOGO SWITCHES PLACE
      //DEPENDING ON SCREEN SIZE
      .header__row:first-child & {
        display: block;
        @media (min-width: @break-point-s) {
          display: flex;
          flex-flow: row-reverse nowrap;
        }
      }

    }

    //HEADER CELL GENERAL STYLES
    .header__cell {
      flex: 1 auto;
      padding: 12px 0;
      box-sizing: border-box;

      @media (min-width: @break-point-s) {
        padding: 16px 0;
      }
    }

    //HEADER TITLE (CELL)
    .header__title {
      margin: 0;
      width: 88%;
      .signa-light;
      font-size: @font-size-plus;
      line-height: 1em;

      @media (max-width: @break-point-s-min) {
        display: block;
        width: 100%;
      }

      a {
        text-decoration: none;
      }

      .lowercase {
        color: @color-grey-dark;
      }

      .uppercase {
        text-transform: uppercase;
        color: @color-profile;
      }

    }

    //HEADER LOGO (CELL)
    .header__logo {
      text-align: right;
      width: 12%;
      min-width: 170px;
      box-sizing: border-box;
      font: 0/0 a;

      @media (max-width: @break-point-s-min) {
        display: block;
        width: 100%;
      }

      @media (min-width: @break-point-s) {
        // float: right;
      }

      svg {
        height: 12px;

        @media (min-width: @break-point-s) {
          height: 16px;
        }
      }
    }

    //HEADER MENU INCLUDING SEARCH (CELL)
    .header__filters {
      width: 88%;
      vertical-align: top;
      border-right: 1px solid @color-grey;
      padding: 0;

      // @media (min-width: @break-point-s) {
      //   width: 88%;
      // }
    }

      //CONTENT WRAPPER
      .filters__content {
        position: relative;
        display: flex;
        align-items: center;
        // height: @menu-row-height;


        // @media (min-width: @break-point-s) {
        //   height: @menu-row-height-max;
        // }
      }

        //THE SEARCH FIELD WRAPPER
        .filters__search {
          flex: 0 0 75%;
          border-right: 1px solid @color-grey;

          .icon {
            font-size: 2rem;
            color: @color-grey-text;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            z-index: 2;
          }

          .icon-icon_menu-search {
            .menu--open & {
              display: none;
            }
          }

          .article-page &, .report-page & {
            flex: 0 0 100%;
            border-right: none;
          }

          .icon-icon_close {
            display: none;

            .menu--open & {
              display: block;
            }
          }


          input {
            width: 100%;
            border: none;
            height: @menu-row-height;
            box-sizing: border-box;
            .open-sans-light;
            font-size: @font-size-s;
            padding-left: 2rem;
            outline: none;

            @media (min-width: @break-point-s) {
              height: @menu-row-height-max;
              font-size: @font-size;
            }
          }
        }

        .filters__options-wrapper {
          flex: 0 0 25%;
          text-align: center;

          .article-page &, .report-page & {
            display: none;
          }
        }

          .filters__label {
            display: inline-block;
            vertical-align: middle;
            // text-transform: uppercase;
            color: @color-grey-text;
            // font-size: @font-size;
          }

          .filters__options {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0;
            list-style: none;
          }

            .filters__option {
              display: inline-block;
              vertical-align: middle;

              a {
                font-size: 2rem;
                color: @color-grey-text;
                text-decoration: none;
              }

            }

        //NAVIGATION MENU THAT OPENS ON USER INTERACTION
        .menu__navigation {
          background-color: @color-white;
          // position: absolute;
          // z-index: 2;
          // top: @menu-row-height;
          // left: 0;
          // width: 100%;

          // @media (min-width: @break-point-s) {
          //   top: @menu-row-height-max;
          // }
        }

          // THE MENU CATEGORY TAGS
          .menu__tags {

          }

            .menu__tags-list {
              list-style: none;
              padding: 0;
              margin: 0;
            }

              .menu__tag {
                display: inline-block;
                vertical-align: top;
                margin-right: 16px;

                a {
                  .menu-link;
                  font-size: @font-size-plus;
                }
              }

              .menu__tag--selected {
                a {
                  color: @color-profile;
                }
              }

    //HEADER INFO MENU (CELL)
    .header__info-menu {
      text-align: right;
      vertical-align: top;
      min-width: 144px;
      white-space: nowrap;
      box-sizing: border-box;
      padding-top: 9px;
      padding-bottom: 9px;

      @media (min-width: @break-point-s) {
        width: 12%;
        padding-top: 13px;
        padding-bottom: 13px;
        min-width: 170px;
      }

      a {
        .menu-link;
        font-size: @font-size-s;

        @media (min-width: @break-point-s) {
          font-size: @font-size;
        }
      }
    }

    .header-scroll-progress {
      height: 4px;
      background-color: @color-profile;
      position: absolute;
      top: -4px;
      z-index: 101;
    }

.main {
  padding-top: @header-height;
}
