@font-face{font-family:'SignaWeb-Book';src:url('../fonts/SignaWeb-Book.eot');src:url('../fonts/SignaWeb-Book.eot?iefix') format('eot'),url('../fonts/SignaWeb-Book.woff') format('woff')}
@font-face{font-family:'SignaWeb-Light';src:url('../fonts/SignaWeb-Light.eot');src:url('../fonts/SignaWeb-Light.eot?iefix') format('eot'),url('../fonts/SignaWeb-Light.woff') format('woff')}@font-face{font-family:'SignaWeb-ExtraLight';src:url('../fonts/SignaWeb-Extlight.eot');src:url('../fonts/SignaWeb-Extlight.eot?iefix') format('eot'),url('../fonts/SignaWeb-Extlight.woff') format('woff')}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:url('../fonts/Open-Sans-Light.woff') format('woff')}
@font-face{font-family:'Open Sans Bold';font-style:normal;font-weight:700;src:url('../fonts/Open-Sans-Bold.woff') format('woff')}
@font-face{font-family:'Open Sans Semibold';font-style:normal;src:url('../fonts/Open-Sans-Semibold.woff') format('woff'),url('../fonts/Open-Sans-Semibold.woff2') format('woff')}


.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.open-sans-light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.open-sans-semi {
  font-family: 'Open Sans Semibold', sans-serif;
  font-weight: 500;
}

.open-sans-bold {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 700;
}


.signa {
  font-family: 'SignaWeb-Book', sans-serif;
  font-weight: 400;
}

.signa-light {
  font-family: 'SignaWeb-Light', sans-serif;
  font-weight: 300;
}

// ICOMOON FONTS

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jgy7gy');
  src:  url('../fonts/icomoon.eot?jgy7gy#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?jgy7gy') format('woff2'),
    url('../fonts/icomoon.ttf?jgy7gy') format('truetype'),
    url('../fonts/icomoon.woff?jgy7gy') format('woff'),
    url('../fonts/icomoon.svg?jgy7gy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_close:before {
  content: "\e900";
}
.icon-icon_email-o:before {
  content: "\e901";
}
.icon-icon_facebook-o:before {
  content: "\e902";
}
.icon-icon_facebook:before {
  content: "\e903";
}
.icon-icon_linkedin-o:before {
  content: "\e904";
}
.icon-icon_linkedin:before {
  content: "\e905";
}
.icon-icon_mail:before {
  content: "\e906";
}
.icon-icon_menu-search:before {
  content: "\e907";
}
.icon-icon_play:before {
  content: "\e908";
}
.icon-icon_time-long:before {
  content: "\e909";
}
.icon-icon_time-normal:before {
  content: "\e90a";
}
.icon-icon_time-short:before {
  content: "\e90b";
}
.icon-icon_twitter-o:before {
  content: "\e90c";
}
.icon-icon_twitter:before {
  content: "\e90d";
}
