@font-face{font-family:'SignaWeb-Book';src:url('../fonts/SignaWeb-Book.eot');src:url('../fonts/SignaWeb-Book.eot?iefix') format('eot'),url('../fonts/SignaWeb-Book.woff') format('woff')}
@font-face{font-family:'SignaWeb-Light';src:url('../fonts/SignaWeb-Light.eot');src:url('../fonts/SignaWeb-Light.eot?iefix') format('eot'),url('../fonts/SignaWeb-Light.woff') format('woff')}@font-face{font-family:'SignaWeb-ExtraLight';src:url('../fonts/SignaWeb-Extlight.eot');src:url('../fonts/SignaWeb-Extlight.eot?iefix') format('eot'),url('../fonts/SignaWeb-Extlight.woff') format('woff')}
@font-face{font-family:'Open Sans';font-style:normal;font-weight:300;src:url('../fonts/Open-Sans-Light.woff') format('woff')}
@font-face{font-family:'Open Sans Bold';font-style:normal;font-weight:700;src:url('../fonts/Open-Sans-Bold.woff') format('woff')}
@font-face{font-family:'Open Sans Semibold';font-style:normal;src:url('../fonts/Open-Sans-Semibold.woff') format('woff'),url('../fonts/Open-Sans-Semibold.woff2') format('woff')}


.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.open-sans-light {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.open-sans-semi {
  font-family: 'Open Sans Semibold', sans-serif;
}

.open-sans-bold {
  font-family: 'Open Sans Bold', sans-serif;
  font-weight: 700;
}


.signa {
  font-family: 'SignaWeb-Book', sans-serif;
}

.signa-light {
  font-family: 'SignaWeb-Light', sans-serif;
}
