
@grid-padding: 2rem;

// SECTION GRID
.section-grid {
  padding-bottom: 2rem;

}

// SECTION GRID WITH TWO COLUMNS PR ROW
.section-grid--two {

}

// SECTION GRID WITH FOUR COLUMNS PR ROW
.section-grid--four {

}

.section-grid--two-thirds {

}

.section-grid--single {
  .section-grid__wrapper {
    max-width: 1800px;
  }
}

.section-grid--reverse {
  .section-grid__content {
    flex-flow: wrap-reverse;
  }
}

  .section-grid__wrapper {
    .restrain;
  }

  // GRID HEADING
  .section-grid__title {
    .open-sans;
    text-transform: uppercase;
    font-size: @font-size-s;
    margin: 2rem 2rem 1rem 2rem;
  }

  // THE ACTUAL GRID WITH FLEX FUNC.
  .section-grid__content {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin: 0;
    // margin-left: -(@grid-padding/2);
    // margin-top: -(@grid-padding/2);

    @media (max-width: @break-point-l-min) {
      padding: 0 1rem;

      .section-grid--single & {
        padding: 0;
      }

      .section-grid--two-thirds & {
        padding: 0;
      }

    }

    .section-grid--four & {
      // @media(max-width: @break-point-l) {
      //   flex-wrap: wrap;
      // }
    }

    // @media(max-width: @break-point-s) {
    //   flex-wrap: wrap;
    // }

  }

  // GRID ITEM GENERAL STYLES
  .grid-item {
    flex: 0 0 50%;
    // max-width: 50%;
    padding: @grid-padding/2 @grid-padding; // 0 0 @grid-padding;
    box-sizing: border-box;

    @media (max-width: @break-point-l-min) {
      padding: @grid-padding/2;
    }

    .section-grid--four & {
      flex-basis: 25%;

      @media(max-width: @break-point-l) {
        flex-basis: 50%;
      }
    }

    .section-grid--two-thirds & {
      flex: 0 0 100%;
      padding-left: 2rem;
      padding-right: 2rem;

      @media(min-width: @break-point-l) {
        flex: 0 0 calc(100%/3);
      }

    }

    .section-grid--single & {
      padding-left: 0;
      padding-right: 0;
    }

    @media (max-width: @break-point-s) {
      flex-basis: 100% !important;
    }


  }

  .grid-item--full {
    flex: 0 0 100%;

    .section-grid--two-thirds & {
      flex: 0 0 100%;

      @media(max-width: @break-point-l-min) {
        padding-left: 0;
        padding-right: 0;
      }


      @media (min-width: @break-point-l) {
        flex: 0 0 calc(100%/3*2);
      }
    }

    .grid-item__content:hover {

      .grid-item__image:after {
        transition: all 0.5s;
        height: 200%;
        // background-color: rgba(0,0,0,0.6);
      }

      .grid-item__title {
        text-decoration: none;

        .icon {
          color: inherit;
        }
      }
    }
  }

    // CONTENT WRAPPER
    .grid-item__content {
      display: block;
      text-decoration: none;
      color: @color-black;

      &:hover {
        .grid-item__title {
          text-decoration: underline;

          .icon {
            color: @color-profile;
          }
        }
      }

      .grid-item--columnist & {
        background-color: @color-profile;
        display: flex;
        align-items: center;
        overflow: hidden;
        padding: 0;

        &:before {
          content: " ";
          float: left;
          padding-bottom: 56.25%;
        }
      }
    }

      // IMAGE WRAPPER
      .grid-item__image {
        width: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;

        .grid-item--full & {
          position: relative;

          &:after {
            transition: all 0.5s;
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 50%;
            .vertical-gradient;
            z-index: 1;
          }
        }

        .grid-item--columnist & {
          border-radius: 50%;

          &:before {
            padding-bottom: 100%;
          }

          @media (max-width: @break-point-l) {
            flex: 0 0 40%;
          }
        }


        &:before {
          content: " ";
          float: left;
          padding-bottom: 56.25%;
        }

        img {
          display: none;
        }

      }

      //USED AS WRAPPER FOR image IN grid-item--columnist
      .grid-item__image-wrapper {
        display: none;

        @media(min-width: @break-point-l) {
          display: block;
          flex: 0 0 50%;
          padding: 2rem;
          box-sizing: border-box;
        }


      }

      //USED AS INFO WRAPPER ON grid-item--columnist
      .grid-item__info {
        text-align: center;
        color: @color-white;
        margin: 0 auto;

        .grid-item__icons {
          font-size: 3rem;
          margin-bottom: 1rem;
        }

        @media(min-width: @break-point-l) {
          flex: 0 0 50%;
          text-align: left;
          padding-left: 1rem;
          box-sizing: border-box;
        }
      }

      // ITEM TITLE
      .grid-item__title {
        .open-sans-semi;
        font-size: @font-size-m;
        color: @color-profile;
        line-height: 1.4em;

        @media (max-width: @break-point-m-min) {
          font-size: @font-size-sm;
        }

        .section-grid--four & {
          font-size: @font-size-sm2;

          @media (max-width: @break-point-m-min) {
            font-size: @font-size-sm;
          }
        }

        .section-grid--two-thirds & {
          font-size: @font-size-sm2;
        }

        .grid-item--simple & {
          margin-top: 0;
        }

        .grid-item--full & {
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 2;
          width: 100%;
          .signa-light;
          font-size: @font-size-l;
          text-align: center;
          line-height: 1.2em;
          color: @color-white;
          padding: 0 10%;
          box-sizing: border-box;
          margin-bottom: 1.1em;

          @media (min-width: @break-point-l) {
            font-size: @font-size-xl;
          }

          @media (max-width: @break-point-m-min) {
            font-size: @font-size-ml;
          }

          @media (max-width: @break-point-xs) {
            font-size: @font-size-sm;
          }
        }

        .grid-item--default & {
          .icon {
            display: inline-block;
            vertical-align: middle;
            color: @color-grey-dark;
            margin-left: 5px;
            font-size: 0.7em;
          }
        }

        .grid-item--columnist & {
          color: @color-white;
          font-size: @font-size-sm2;
          margin: 0.4em 0;
        }

        .section-grid--two-thirds .grid-item--full & {
          bottom: 1rem;

          @media (min-width: @break-point-l) {
            font-size: @font-size-ml2;

            .grid-item__icons {
              font-size: 1em;
            }
          }
        }

        .section-grid--two-thirds .grid-item--default & {
          @media (max-width: @break-point-l-min) {
            font-size: @font-size-ml;
          }

          @media (max-width: @break-point-m-min) {
            font-size: @font-size-m;
          }
        }
      }

        .grid-item__icons {
          &, .icon {
            font-size: 0.8em;
            // line-height: 1em;
          }

        }

      // ITEM ABSTRACT
      .grid-item__abstract {
        font-size: @font-size-plus;
      }
