{% extends "base.html" %}

{% block content %}
<article class="article" id="article">

  <div class="article__body">
    <div class="article__content">
      <header class="article__header">
        <div class="article__header-content">
          <h1 class="article__title">Bærekraft i alt vi gjør</h1>
        </div>
      </header>
      <div class="article__abstract">
        <p>Å velge økologisk mat burde være et selvsagt valg for alle. Selv om både etterspørsel og produksjon av økologisk mat i Norge har økt de siste årene, så er det fremdeles behov for å ha fokus på naturlig produksjon.</p>
      </div>

      <div class="article__body-text">
        <p>Det er gjort få undersøkelser der man har sammenliknet <a href="#">innholdet</a> i økologisk og konvensjonelt produsert mat. Eksisterende litteratur gir oss få holdepunkter for å kunne konkludere med sikkerhet hvilke forskjeller som eksisterer i innhold av næringsstoffer. Problemet er at de to produksjonssystemene varierer fra land til land og over tid. Dessuten vil næringsinnholdet i en bestemt matplante variere etter modningsgrad, jordsmonn og klima.</p>
        <h3>Næringsinnhold i økologiske matvarer</h3>
        <p>Det er foreløpig enighet om at det er liten forskjell i innhold av mineraler, de fleste vitaminer, proteiner og karbohydrater i plantevekster i de to systemene, bl.a. fordi variasjonen innen ulike plantesorter (kultivarer) er større enn variasjonen mellom de to dyrkingssystemene. Man finner imidlertid et høyere innhold av vitamin C i økologisk dyrkede vekster, mens det motsatte er tilfellet med nitratinnholdet. Innhold av protein er gjennomgående lavere, men proteinkvaliten i økologiske matvekster er bedre. Videre er innholdet av vitamin A/betakaroten gjennomgående lavere i planter som er økologisk dyrket. Sporstoffinnholdet synes å avhenge mer av jordsmonnet og forskjeller i gjødslingsregimer enn av dyrkingsmetode.</p>
        <figure class="article__body-image" role="group">
          <img src="images/unsplash03.jpg" alt="Håndfull med barnåler" />
          <figcaption>En håndfull med barnåler kan symbolisere bærekraft. Eller hærverk.</figcaption>
        </figure>
        <h3>Valgmuligheter</h3>
        <p>Tilfang av økologiske produkter har <a href="#">gitt forbrukerne valgmuligheter, og derved styrket</a> deres posisjon via-a-vis produsentene. Forbrukermakt er basert på muligheten til å velge. Uten alternativer har ikke forbrukerne noe å si. I det relativt sett standardiserte og sentraliserte norske matvaremarkedet – en i mange henseende politisk villet tilstand – har det vært dårlig grobunn for forbrukermakt. Selv om ikke forbrukerne har flokket seg rundt de økologiske alternativene, har de signalisert at det i deler av markedet er fullt mulig å ta ut en merpris for alternative kvaliteter. Dette har gjort landbruket noe mer lydhøre overfor signaler fra forbrukere og gitt dem «noe» større muskler.</p>
        <div class="article__quote-wrapper">
          <blockquote class="article__quote">Sustainability is the key to our survival on this planet and will also determine success on all levels.</blockquote>
          <div class="article__quote-source">- Randi Larsen</div>
        </div>
        <p>
          Det økologiske alternativet må balansere mellom hensynet til salgsmessig suksess og det å fungere som kritisk korrektiv. Skal det økologiske alternativet evalueres med utgangspunkt i produsenters og butikkers kontantstrøm inneværende kvartal, eller ut fra målet om å overlate produksjonsressurser og miljø i minst like god stand til kommende generasjoner?
        </p>
        <div class="article__infographics"></div>
        <figure class="article__body-image article__body-image--floating" role="group">
          <img src="images/unsplash03.jpg" alt="Håndfull med barnåler" />
          <figcaption>En håndfull med barnåler kan symbolisere bærekraft. Eller hærverk.</figcaption>
        </figure>
        <p>Dette er tøff interessekamp og politikk. Interessant nok ser en at der hvor denne utviklingen har kommet lengst, for eksempel i USA, vokser det frem nye alternativer; som for eksempel CSA (Community Supported Agriculture) og «Farmers markets». «Local is the new organic» kan vi lese bak på bilene i Berkeley, California, og kanskje blir det løsningen for mange, hvis en ikke følger med i timen når standarder og definisjoner diskuteres i EU og andre relevante fora.</p>
        <p>For noen må gå foran med alternativer i den stadig pågående kampen om å definere hvordan maten skal være, produseres og forbrukes. Vitsen med det økologiske prosjektet er å holde levende en debatt om samfunnets livsgrunnlag – maten vår.</p>
        <div class="article__fact-box fact-box">
          <div class="fact-box__header">
            <h2 class="fact-box__title">Vi vil gjerne høre fra deg</h2>
          </div>
          <div class="fact-box__body">
            <p class="fact-box__text">
              Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
            </p>
            <p class="fact-box__text">
              Følg oss her: <a href="#" class="icon-link"><span class="icon icon-icon_facebook-o"></span></a>
              <a class="icon-link" href="#"><span class="icon icon-icon_twitter-o"></span></a>
              <a class="icon-link" href="#"><span class="icon icon-icon_linkedin-o"></span></a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</article>

{% endblock %}
