{% extends "base.html" %}

{% block content %}
<article class="article" id="article">

  <div class="article__body">
    <aside class="article__related aside screen--large" id="article-related-large">
    {% include "bits/article-aside.html" %}
    </aside>

    <div class="article__content">
      <header class="article__header">
        <div class="article__featured-image-wrapper">
            <img class="article__featured-image" src="images/unsplash02.jpg" alt="Jordbær er kjempegodt!" />
        </div>
        <div class="article__header-content">
          <div class="article__tags">
            <span class="article__tag">Miljø</span>
            <span class="article__tag">Mat</span>
          </div>
          <h4 class="article__running-title">Det amerikanske presidentvalget</h4>
          <h1 class="article__title">Hvorfor velge økologisk mat?</h1>
          <div class="article__author">Av Hilde Stray Due</div>
        </div>
      </header>
      <div class="article__abstract">
        <p>Å velge økologisk mat burde være et selvsagt valg for alle. Selv om både etterspørsel og produksjon av økologisk mat i Norge har økt de siste årene, så er det fremdeles behov for å ha fokus på naturlig produksjon.</p>
      </div>
      {% include 'bits/article-meta.html' %}
      <div class="article__related aside screen--small" id="article-related-small">
        {% include "bits/article-aside.html" %}
      </div>

      <div class="article__body-text">
        <p>Det er gjort få undersøkelser der man har sammenliknet innholdet i økologisk og konvensjonelt produsert mat. Eksisterende litteratur gir oss få holdepunkter for å kunne konkludere med sikkerhet hvilke forskjeller som eksisterer i innhold av næringsstoffer. Problemet er at de to produksjonssystemene varierer fra land til land og over tid. Dessuten vil næringsinnholdet i en bestemt matplante variere etter modningsgrad, jordsmonn og klima.</p>
        <h3>Næringsinnhold i økologiske matvarer</h3>
        <p>Det er foreløpig enighet om at det er liten forskjell i innhold av mineraler, de fleste vitaminer, proteiner og karbohydrater i plantevekster i de to systemene, bl.a. fordi variasjonen innen ulike plantesorter (kultivarer) er større enn variasjonen mellom de to dyrkingssystemene. Man finner imidlertid et høyere innhold av vitamin C i økologisk dyrkede vekster, mens det motsatte er tilfellet med nitratinnholdet. Innhold av protein er gjennomgående lavere, men proteinkvaliten i økologiske matvekster er bedre. Videre er innholdet av vitamin A/betakaroten gjennomgående lavere i planter som er økologisk dyrket. Sporstoffinnholdet synes å avhenge mer av jordsmonnet og forskjeller i gjødslingsregimer enn av dyrkingsmetode.</p>
        <figure class="article__body-image" role="group">
          <img src="images/unsplash03.jpg" alt="Håndfull med barnåler" />
          <figcaption>En håndfull med barnåler kan symbolisere bærekraft. Eller hærverk.</figcaption>
        </figure>
        <h3>Valgmuligheter</h3>
        <p>Tilfang av økologiske produkter har gitt forbrukerne valgmuligheter, og derved styrket deres posisjon via-a-vis produsentene. Forbrukermakt er basert på muligheten til å velge. Uten alternativer har ikke forbrukerne noe å si. I det relativt sett standardiserte og sentraliserte norske matvaremarkedet – en i mange henseende politisk villet tilstand – har det vært dårlig grobunn for forbrukermakt. Selv om ikke forbrukerne har flokket seg rundt de økologiske alternativene, har de signalisert at det i deler av markedet er fullt mulig å ta ut en merpris for alternative kvaliteter. Dette har gjort landbruket noe mer lydhøre overfor signaler fra forbrukere og gitt dem «noe» større muskler.</p>
        <div class="article__quote-wrapper">
          <blockquote class="article__quote">Sustainability is the key to our survival on this planet and will also determine success on all levels.</blockquote>
          <div class="article__quote-source">- Randi Larsen</div>
        </div>
        <p>
          Det økologiske alternativet må balansere mellom hensynet til salgsmessig suksess og det å fungere som kritisk korrektiv. Skal det økologiske alternativet evalueres med utgangspunkt i produsenters og butikkers kontantstrøm inneværende kvartal, eller ut fra målet om å overlate produksjonsressurser og miljø i minst like god stand til kommende generasjoner?
        </p>
        <div class="article__infographics"></div>
        <figure class="article__body-image article__body-image--floating" role="group">
          <img src="images/unsplash03.jpg" alt="Håndfull med barnåler" />
          <figcaption>En håndfull med barnåler kan symbolisere bærekraft. Eller hærverk.</figcaption>
        </figure>
        <p>Dette er tøff interessekamp og politikk. Interessant nok ser en at der hvor denne utviklingen har kommet lengst, for eksempel i USA, vokser det frem nye alternativer; som for eksempel CSA (Community Supported Agriculture) og «Farmers markets». «Local is the new organic» kan vi lese bak på bilene i Berkeley, California, og kanskje blir det løsningen for mange, hvis en ikke følger med i timen når standarder og definisjoner diskuteres i EU og andre relevante fora.</p>
        <p>For noen må gå foran med alternativer i den stadig pågående kampen om å definere hvordan maten skal være, produseres og forbrukes. Vitsen med det økologiske prosjektet er å holde levende en debatt om samfunnets livsgrunnlag – maten vår.</p>
        <div class="article__fact-box fact-box">
          <div class="fact-box__header">
            <i class="custom-icon"><span>i</span></i>
            <h2 class="fact-box__title">Fordeler med El-bil</h2>
          </div>
          <div class="fact-box__body">
            <p class="fact-box__text">
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            </p>
            <ul class="fact-box__list">
              <li class="fact-box__list-item">Ingen engangsavgift</li>
              <li class="fact-box__list-item">Lave drivstoffutgifter (strøm)</li>
              <li class="fact-box__list-item">Ingen moms ved kjøp</li>
            </ul>
            <ol class="fact-box__list">
              <li class="fact-box__list-item">435 kroner i årsavgift</li>
              <li class="fact-box__list-item">Ingen engangsavgift</li>
              <li class="fact-box__list-item">Ingen engangsavgift</li>
            </ol>
          </div>
        </div>
        <div class="article__published">
          Publisert: 21. August 2016
        </div>
        <div class="article__tags">
          <a href="/emne/miljo" class="article__tag">Miljø</a>
          <a href="/emne/mat" class="article__tag">Mat</a>
          <a href="/emne/landbruk" class="article__tag">Landbruk</a>
          <a href="/emne/okologisk" class="article__tag">Økologisk</a>
          <a href="/emne/baerekraft" class="article__tag">Bærekraft</a>
        </div>
      </div>
    </div>
  </div>
</article>
  <nav class="article__nav" role="navigation">
    <div class="article__nav-wrapper">
      <a href="#" class="article__nav-item nav-item article--prev">
        <div class="nav-item__image" style="background-image: url('images/unsplash01.jpg')">
          <img src="images/unsplash01.jpg" alt="blåbær!" />
        </div>
        <div class="nav-item__info">
          <div class="nav-item__label">Forrige</div>
          <h4 class="nav-item__title">Teknologi-optimisme</h4>
        </div>
      </a>
      <a href="#" class="article__nav-item nav-item article--next">
        <div class="nav-item__image" style="background-image: url('images/unsplash01.jpg')">
          <img src="images/unsplash01.jpg" alt="blåbær!" />
        </div>
        <div class="nav-item__info">
          <div class="nav-item__label">Neste</div>
          <h4 class="nav-item__title">Teknologi-optimisme</h4>
        </div>
      </a>
    </div>
  </nav>
  <section class="article__related-items section-grid section-grid--two">
    <div class="section-grid__wrapper">
      <h4 class="section-grid__title">Flere reportasjer</h4>

      <div class="section-grid__content">
        {% for i in range(0,2) %}
          {% include "bits/grid-item.html" %}
        {% endfor %}
      </div>

      </div>
    </div>
  </section>
  <div class="article__related-items section-grid section-grid--four">
    <div class="section-grid__wrapper">
      <h4 class="section-grid__title">Relevante artikler</h4>

      <div class="section-grid__content">
        {% for i in range(0,4) %}
          {% include "bits/grid-item-simple.html" %}
        {% endfor %}
      </div>
    </div>

  </div>

{% endblock %}
