<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Storebrand - Smartere valg</title>
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans:300,400,600" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/style.css" media="screen" title="Styles" charset="utf-8">
    <script src="js/modernizr.js" charset="utf-8"></script>
  </head>
  <body>
    {% include "bits/header.html" %}

    {% block content %}Override me, please{% endblock %}

    {% include "bits/footer.html" %}
    <script src="js/main.min.js" charset="utf-8"></script>
  </body>
</html>
