{% extends "base.html" %}

{% block content %}
<section class="section-grid section-grid--two-thirds">
  <div class="section-grid__wrapper">

    <div class="section-grid__content">
      {% include "bits/grid-item-full.html" %}
      {% include "bits/grid-item.html" %}
    </div>

    </div>
  </div>
</section>
<section class="section-grid section-grid--two">
  <div class="section-grid__wrapper">

    <div class="section-grid__content">
      {% for i in range(0,2) %}
        {% include "bits/grid-item.html" %}
      {% endfor %}
    </div>

    </div>
  </div>
</section>
<section class="section-grid section-grid--single">
  <div class="section-grid__wrapper">

    <div class="section-grid__content">
      {% include "bits/grid-item-full.html" %}
    </div>

    </div>
  </div>
</section>
<section class="section-grid section-grid--four">
  <div class="section-grid__wrapper">

    <div class="section-grid__content">
      {% for i in range(0,4) %}
        {% include "bits/grid-item-simple.html" %}
      {% endfor %}
    </div>
  </div>
</section>
<section class="section-grid section-grid--two-thirds section-grid--reverse">
  <div class="section-grid__wrapper">

    <div class="section-grid__content">
      {% include "bits/grid-item-full.html" %}
      {% include "bits/grid-item.html" %}
    </div>

    </div>
  </div>
</section>
{% endblock %}
